.DITA1{

background-color: aqua;


}

.dita2{

background-color: blue;

}

.dita3{


    background-color: blueviolet;
}

.dita4{

background-color: brown;



}

.dita5{


background-color: aquamarine;


}