p{
  
    font-family: 'La Belle Aurore', cursive;
font-family: 'Roboto', sans-serif;

}

.Titulli{

font-weight: bold;

}

p{

font: size 1px;




}

.titulli2{

text-align:right;

font-weight: bold;

}

.titulli3{

word-spacing:40px ;

}

.titulli4{

font-weight:bold ;

}